<div mat-dialog-content>
  <p>What's category do you want to Add?</p>
  <mat-form-field appearance="outline">
    <mat-select
      placeholder="Category"
      [(ngModel)]="data.category"
      name="category"
    >
      <mat-option *ngFor="let data of category" [value]="data.category">
        {{ data.category }}
      </mat-option>
    </mat-select>
    <mat-hint>What is the Name of the category you want to add?</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">
    No Thanks
  </button>
  <button mat-raised-button color="primary" (click)="addCategory()">Add</button>
</div>
