<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-5 mt">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Search for any Business Directory</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mt">
      <mat-card *ngFor="let inf of info.data">
        <div class="row">
          <div class="col-sm-5">
            <img src="{{inf.filename}}" alt="" style="width: 100%"/>
            <!-- <ui-carousel [infinite]="true" [fade]="true" [speed]="200" >
              <ui-carousel-item>
                  <img [ui-lazy-load]="inf.filename">
              </ui-carousel-item>
          </ui-carousel> -->
          </div>
          <div class="col-sm-7">
            <mat-card-title>{{ inf.name }}</mat-card-title>
            <mat-card-content>{{ inf.description }}</mat-card-content>
            <mat-card-subtitle
              ><span><strong>Address: </strong></span>
              {{ inf.address }}</mat-card-subtitle
            >
            <mat-card-subtitle
              ><span><strong>Contact Number: </strong></span>
              {{ inf.phone_no }}</mat-card-subtitle
            >
            <mat-card-subtitle
              ><span><strong>Email: </strong></span>
              {{ inf.email }}</mat-card-subtitle
            >
            <mat-card-subtitle
              ><span><strong>Web Address: </strong></span>
              {{ inf.website }}</mat-card-subtitle
            >
            <hr />
            <mat-chip-list>
              <mat-chip
                *ngFor="let cat of inf.category"
                color="primary"
                selected
                >{{ cat.category }}</mat-chip
              >
            </mat-chip-list>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
