.form {
  padding: 0px 192px;
}

.title {
  text-align: center;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.submit {
  width: 20%;
  margin-top: 32px;
  margin-bottom: 21px;
}
