/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  background: #efefef;
}

.mt {
  margin-top: 52px;
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  margin-bottom: 26px;
}

.mat-form-field-infix {
  padding-left: 13px !important;
}
